<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post" action="{% url 'login' %}">

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    {% if next %}
    <p>Hey, you can't access that page!</p>
    {% endif %}

    {% csrf_token %}
    <p>
    {{ form.username.label_tag }}
    {{ form.username }}
    </p>
    <p>
    {{ form.password.label_tag }}
    {{ form.password }}
    </p>
    <p><input type="submit" value="login"></p>
    <input type="hidden" name="next" value="{{ next }}">
</form>
</body>
</html>